<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="nsr-serie.html">
<link rel="import" href="shared-style.html">
<link rel="import" href="nsr-add-show.html">
<dom-module id="nsr-series-list">
  <template>
    <style>
        .serie{
            margin:5px;
            padding: 5px;
            min-width: 300px;
            min-height: 120px;
        }
        :host{
            align-content: flex-start;
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    </style>
    <template is="dom-repeat" items="[[series]]" as="serie">
        <paper-card class="serie">
            <nsr-serie nb-user="[[nbUser]]" profil="{{profil}}" serie="{{serie}}"></nsr-serie>
        </paper-card>
    </template>
    <paper-card class="serie" style="text-align:center">
        <paper-button onclick="animated.open()">Add another show to the room</paper-button>
    </paper-card>
    <paper-dialog id="animated" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <nsr-add-show on-add-serie="_addSerie"></nsr-add-show>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'nsr-series-list',

      properties: {
        series:{
            type:Array,
            notify:true
        },
        profil:{
          type:Object
        },
        nbUser:{
          type:Number
        }
      },
      _addSerie:function(e){
        console.log("pouet ", this.series, e);
        if(!this.series){
          this.series = [];
        }
        //this.series.p
        this.push('series', e.detail);
        this.fire('save-room');
      }
    });
  </script>
</dom-module>