<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="nsr-serie.html">
<link rel="import" href="shared-style.html">
<link rel="import" href="nsr-add-show.html">
<dom-module id="nsr-series-list">
  <template>
    <style>
        .serie{
            width:32%;
            margin: 10px 0px;
        }
        @media (max-width: 940px) {
          .serie {
            width:100%;
          }
        }
        :host{
            align-content: flex-start;
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    </style>
    <template is="dom-repeat" items="[[series]]" as="serie">
        <nsr-serie class="serie" nb-user="[[nbUser]]" profil="{{profil}}" serie="{{serie}}"></nsr-serie>
    </template>
    <paper-card class="serie" style="text-align:center">
        <paper-button on-tap="open" hidden$="[[opened]]">Add another show to the room</paper-button>
        <nsr-add-show hidden$="{{!opened}}" on-add-serie="_addSerie"></nsr-add-show>
    </paper-card>
  </template>
  <script>
    Polymer({
      is: 'nsr-series-list',

      properties: {
        series:{
            type:Array,
            notify:true
        },
        profil:{
          type:Object
        },
        nbUser:{
          type:Number
        },
        opened:{
          type:Boolean,
          value:false
        }
      },
      _addSerie:function(e){
        console.log("pouet ", this.series, e);
        if(!this.series){
          this.series = [];
        }
        this.opened = !this.opened;
        //this.series.p
        this.push('series', e.detail);
        this.fire('save-room');
      },
      open:function(){
        this.opened = !this.opened;
      }
    });
  </script>
</dom-module>