<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-style.html">
<link rel="import" href="nsr-led-status.html">
<dom-module id="nsr-episode">
  <template>
    <style include="nsr-shared-styles"></style>
    <style>
      .episode{
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .titre{
        overflow-wrap: break-word;
      }
    </style>
    <firebase-document
        app-name="noSpoilRoom"
        path = "/viewed/{{path}}"
	      data = "{{episodeState}}"
        id="dEpisodeState">
    </firebase-document>
    <div class$="episode [[state]]" on-tap="episodeTap">
      <nsr-led-status on-tap="checkTap" powered="{{checked}}"></nsr-led-status>
      <div class="titre">{{episodeRef.titre}} </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'nsr-episode',

      properties: {
        episodeRef:{
            type:Object
        },
        episodeState:{
            type:Object
        },
        profil:{
          type:Object
        },
        checked:{
          type:Boolean,
          computed:'computeChecked(episodeState.*)'
        },
        state:{
          type:String,
          computed:'computeState(episodeState.*)',
          observer:'stateChanged'
        },
        nbUser:{
          type:Number
        },
        action:{
          type:String,
          observer:'actionChanged'
        }
      },
      episodeTap:function(){
        this.fire('episode-tap', this.episodeState);
      },
      stateChanged:function(newState, oldState){
        if(newState != oldState){
          this.fire('state-changed', {"state":this.state, "numero":this.episodeRef.numero});
        }
      },
      actionChanged:function(newAction, oldAction){
          if(this.action == "check" && !this.checked){
            this.checkTap();
          }
      },
      computeCheckClass: function(checked) {
        return checked ? 'check' : 'check-box-outline-blank';
      },
      checkTap:function(){
        
        if(!this.episodeState){
          this.episodeState = {};
        }
        this.set('episodeState.'+this.profil.uid, !this.episodeState[this.profil.uid] ? Date.now() : null);
        //this.episodeState[this.profil.uid] = !this.episodeState[this.profil.uid] ? Date.now() : null;
        var updates = {}
        updates['/viewed/'+this.path+'/'+this.profil.uid] = this.episodeState[this.profil.uid];
        //this.fire('add-update', updates);
        //this.fire('save-room');
      },
      computeChecked: function(episodeState){
        ////console.log("compute checked")
        if(!this.episodeState || !this.profil){
          ////console.log("compute checked error")
          return false;
        }
        return !!this.episodeState[this.profil.uid];
      },
      computeState: function(episodeState){
        //console.log("check state", this.nbUser, this.episodeState, Object.keys(this.episodeState).length);
        if(!this.profil || Object.keys(this.episodeState).length == 0){
          return '';
        }
        if(this.nbUser == Object.keys(this.episodeState).length){
          return 'ok';
        }
        return !!this.episodeState[this.profil.uid] ? 'selfDanger' : 'otherDanger'
      }
    });
  </script>
</dom-module>